body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.map_elements{
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}



.btn{
  margin-top: 15px;
  align-self: flex-end;
  padding: 10px 15px;
  background: none;
  color: teal;
  border: 1px solid teal;
}